<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <appSettings>
    <add key="GOOGLE_SEARCH_API_KEY" value="AIzaSyAcEmCtjI-N5nixpQ_KskUz5SFZBliTXdo"/> 
    <add key="GOOGLE_SEARCH_ENGINE_ID" value="004137831707555346664:kegr1-olbm4"/>
    <add key="THE_MOVIE_DB_API_KEY" value="c14455842edf0fd4ef9cc3a4cd6165a3"/>
    <add key="ALGORITHIMIA_API_KEY" value="simCoyoqW4JpeC/1RMVuK+pq6p+1"/>
    <add key="DIRECTORY_TEMP" value="c:\temp_ghost\"/> 
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
