<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Algorithmia.Client" version="1.0.5" targetFramework="net461" />
  <package id="Google.Apis" version="1.38.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.38.0" targetFramework="net461" />
  <package id="Google.Apis.Customsearch.v1" version="1.38.0.1369" targetFramework="net461" />
  <package id="InstaSharper" version="1.4.82" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.11.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net461" />
  <package id="TMDbLib" version="1.0.0" targetFramework="net461" />
</packages>